%h1
  = t('.headline')
  %span.badge Beta
- unless @current_user
  %p.muted= t('.subheadline')

- if @current_user
  %h2= t('.salutation', name: @current_user.common_name)
- else
  %a{href: '/auth/facebook'}
    = image_tag 'social/128/facebook.jpg', title: 'Facebook', class: 'img-rounded'
